.list-items {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  flex-wrap: wrap;
  align-items: center;
}

@media (max-width: 575px) {
  .list-items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}
p {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  margin: 18px;
}

.buttonn {
  color: black;
  font-weight: 600;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  background-color: lightseagreen;
  border: 1px solid grey;
  text-align: center;
}
